@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="demo" class="carousel slide" data-ride="carousel">

  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

   <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="img-fluid" src="~/images/a1.jpg" alt="Scrabble Board" height="1300" >
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="~/images/a2.jpg" alt="Family Playing Scrabble" height="1300">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="~/images/a3.jpg" alt="Another Family Playing Scrabble" height="1300">
    </div>
  </div>

    <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="text-center jumbotron bg-info p-3 mb-0"  >
    <h1 class="display-4">Welcome to Scrabble Scorekeeper</h1>
    <h3>Can't remember who had the best score? Never forget again</h3>
    <p>Keep track of your family and friends' scores and see them on the scoreboard</p>
</div>

<div class="list-group">
  <a asp-page="/Game/SelectTwoPlayers" class="list-group-item list-group-item-action list-group-item-success text-center">SCRABBLE FOR 2</a>
  <a asp-page="/Game/SelectThreePlayers" class="list-group-item list-group-item-action list-group-item-info text-center">SCRABBLE FOR 3</a>
  <a asp-page="/Game/SelectFourPlayers" class="list-group-item list-group-item-action list-group-item-primary text-center">SCRABBLE FOR 4</a>
</div>


