@page
@model ScoreKeeperRazorPagesUI.Pages.InstructionsModel
@{
    ViewData["Title"] = "Instructions";
}

<div class="text-center jumbotron bg-info p-3 mb-0 text-light"  >
    <h1 class="display-5">Instructions</h1>
    <h3>Scrabble Scorekeeper is easy to use</h3>
</div>

<div>
    <ul class="list-group">
      <li class="list-group-item" style="background-color: #bee5eb;">
          <h5><span class="badge badge-pill badge-info">1</span>
            Not registered yet? Click <strong>Add User</strong> on the navigation bar and add as many users as you want</h5>
      </li>
      <li class="list-group-item font-weight-bold" style="background-color: #bee5eb;">
         <h5> <span class="badge badge-pill badge-info">2</span>
          Is everyone playing registered? Then go to <strong>Step 3</strong>. If not, go back to <strong>Step 1</strong></h5>
      </li>
      <li class="list-group-item font-weight-bold" style="background-color: #bee5eb;">
           <h5> <span class="badge badge-pill badge-info">3</span>
          Is it just two players tonight? Click <strong>Scrabble for 2</strong>. Three players? Click <strong>Scrabble for 3</strong>, and so on.</h5>
     </li>
      <li class="list-group-item font-weight-bold" style="background-color: #bee5eb;">
          <h5><span class="badge badge-pill badge-info">4</span>
          Select everyone's names from the dropdown list and click <strong>Start</strong></h5>
      </li>
      <li class="list-group-item font-weight-bold" style="background-color: #bee5eb;">
          <h5><span class="badge badge-pill badge-info">5</span>
          Enter the scores for each round and click <strong>Enter</strong> to tally up the results</h5>
     </li>
     <li class="list-group-item font-weight-bold" style="background-color: #bee5eb;">
          <h5><span class="badge badge-pill badge-info">5</span>
          Once the game is finished click <strong>End Game</strong> to save the results and display the Leaderboard</h5>
     </li>
     <li class="list-group-item font-weight-bold" style="background-color: #bee5eb;">
          <h5><span class="badge badge-pill badge-info">6</span>
          That's it! Use Scrabble Scorekeeper as ofter as you want. No calculators needed to keep track of scores, games played and games won by each user</h5>
     </li>
    </ul>
</div>