@page
@model ScoreKeeperRazorPagesUI.Pages.InstructionsModel
@{
    ViewData["Title"] = "Instructions";
}

<div class="text-center jumbotron bg-info p-3 mb-0 text-light"  >
    <h1 class="display-5">Instructions</h1>
    <h3>Scrabble Scorekeeper is easy to use</h3>
</div>

<div>
    <ul class="list-group">
      <li class="list-group-item" style="background-color: #bee5eb;">
          <h5><span class="badge badge-pill badge-info">1</span>
            Click on a tab: 2, 3 or 4 players</h5>
      </li>
      <li class="list-group-item font-weight-bold" style="background-color: #bee5eb;">
         <h5> <span class="badge badge-pill badge-info">2</span>
          Add a new player or choose an existing one</h5>
          </li>
      <li class="list-group-item font-weight-bold" style="background-color: #bee5eb;">
           <h5> <span class="badge badge-pill badge-info">3</span>
          Enter the scores for each player after every round</h5>
          </li>
      <li class="list-group-item font-weight-bold" style="background-color: #bee5eb;">
          <h5><span class="badge badge-pill badge-info">4</span>
          Finally, click on the END GAME button to save the details of the game and see the updated scoreboard</h5>
          </li>
    </ul>
</div>