@page
@model ScoreKeeperRazorPagesUI.Pages.Game.AddUserModel
@{
    ViewData["Title"] = "Add User";
}

<div class="text-center jumbotron bg-info p-3 mb-0 text-light"  >
    <h1 class="display-5">Add a new user</h1>
</div>

<div class="container pb-2">
<div class="row pb-2">
    <div class="col-md-12" style="background-color: #bee5eb; ">
        <form method="post" asp-page-handler="StayInPage">
            <h2 style="color: #17a2b8" class="p-3">Add player's name:</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Player.Name" class="form-control w-25" placeholder="Add player" />
                <span asp-validation-for="Player.Name" class="text-danger"></span>
            </div>

            <!-- Button to Open the Modal -->
            <div class="form-group">
                <button type="button" value="Add" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add User</button>
            </div>

            <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
           
              <h4 class="modal-title">Are you sure you want to add this user?</h4>
                 
          
         @* <button type="button" class="close" data-dismiss="modal">&times;</button>*@
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Click <strong>Add</strong> if you want to proceed or <strong>Close</strong> if you think this user already exists
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" asp-page-handler="StayInPage" class="btn btn-danger">Add</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>


        </form>
    </div>
    
</div> 
</div>

<div class="row pb-2 ml-1">
    <div class="col-md-12 list-group">
  <a asp-page="/Game/SelectTwoPlayers" class="list-group-item list-group-item-action list-group-item-success text-center">Two Players</a>
  <a asp-page="/Game/SelectThreePlayers" class="list-group-item list-group-item-action list-group-item-info text-center">Three Players</a>
  <a asp-page="/Game/SelectFourPlayers" class="list-group-item list-group-item-action list-group-item-primary text-center">Four Players</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}