@page
@model ScoreKeeperRazorPagesUI.Pages.Game.AddUserModel
@{
    ViewData["Title"] = "Add User";
}

<div class="text-center jumbotron bg-info p-3 mb-0 text-light"  >
    <h1 class="display-5">SCOREKEEPER</h1>
</div>

<div class="container pb-2">
<div class="row">
    <div class="col-md-12" style="background-color: #bee5eb; ">
        <form method="post" asp-page-handler="StayInPage">
            <h2 style="color: #17a2b8" class="pt-3 pb-1 text-center">Add User</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group offset-4">
                <input asp-for="Player.Name" class="form-control w-50" placeholder="Name" />
            </div>

            <!-- Button to Open the Modal -->
            <div class="form-group offset-4">
                <button type="button" value="Add" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add</button>
                <span asp-validation-for="@Model.Player.Name" class="error text-danger"></span>
            </div>

            <!-- The Modal -->
              <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
      
                    <!-- Modal Header -->
                    <div class="modal-header">
                          <h4 class="modal-title">Add new user?</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
        
                    <!-- Modal body -->
                    <div class="modal-body">
                      Click <strong>Add</strong> to proceed or <strong>Close</strong> to enter a different name.
                    </div>
        
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="submit" asp-page-handler="StayInPage" class="btn btn-info">Add</button>
                      <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    </div>
        
                  </div>
                </div>
              </div>
      </form>
    </div>  
</div> 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}