@page
@model ScoreKeeperRazorPagesUI.Pages.Game.AddUserModel
@{
    ViewData["Title"] = "Add User";
}

<div class="text-center jumbotron bg-info p-3 mb-0 text-light"  >
    <h1 class="display-5">Add a new user</h1>
</div>

<div class="container pb-2">
<div class="row pb-2">
    <div class="col-md-12" style="background-color: #bee5eb; ">
        <form method="post" asp-page-handler="StayInPage">
            <h2 style="color: #17a2b8" class="p-3">Add player's name:</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Player.Name" class="form-control w-25" placeholder="Add player" />
                <span asp-validation-for="Player.Name" class="text-danger"></span>
            </div>

            <!-- Button to Open the Modal -->
            <div class="form-group">
                <button type="button" value="Add" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add User</button>
            </div>

            <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
                                @if(@Model.Players.Contains(@Model.Player) == false)
                                {
                                    <h4 class="modal-title">User has been added</h4>
                                }
                                else
                                {
                                    <h4 class="modal-title">User already exists</h4>
                                }
          
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Click Close to add another user or Click Play to select the users for today's game
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>


        </form>
    </div>


    
</div>
<div>
    </div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}