@page
@model ScoreKeeperRazorPagesUI.Pages.Game.FourPlayersModel
@{
    ViewData["Title"] = "Three Players";
}

<h1>Four-Player Game</h1>
<hr/>

<form method="post" class="form-horizontal">
   <div class="row">
       <div style="font-size: 16px" class="col-sm-2 p-2 badge badge-info m-2">Players</div>
       <div style="font-size: 16px" class="col-sm-2 p-2 badge badge-info m-2">Score</div>
       <div style="font-size: 16px" class="col-sm-2 p-2 badge badge-info m-2">Subtotal</div>
   </div>
   <div class="row">
       <label asp-for="Player1.Name" style="font-size: 16px" class="col-form-label col-sm-2 m-2 badge badge-info">@Model.Player1.Name</label>
       <input asp-for="Player1.RoundScore" type="number" class="form-control col-sm-2 m-2" placeholder="Score"/>
       <input asp-for="Player1.ScoreSubtotal" type="number" class="form-control col-sm-2 m-2" placeholder="Subtotal" readonly/>
   </div>
   <div class="row">
       <label asp-for="Player2.Name" style="font-size: 16px" class="col-form-label col-sm-2 m-2 badge badge-info">@Model.Player2.Name</label>
       <input asp-for="Player2.RoundScore" type="number" class="form-control col-sm-2 m-2" placeholder="Score"/>
       <input asp-for="Player2.ScoreSubtotal" type="number" class="form-control col-sm-2 m-2" placeholder="Subtotal" readonly/>
   </div>
    <div class="row">
       <label asp-for="Player3.Name" style="font-size: 16px" class="col-form-label col-sm-2 m-2 badge badge-info">@Model.Player3.Name</label>
       <input asp-for="Player3.RoundScore" type="number" class="form-control col-sm-2 m-2" placeholder="Score"/>
       <input asp-for="Player3.ScoreSubtotal" type="number" class="form-control col-sm-2 m-2" placeholder="Subtotal" readonly/>
   </div>
   <div class="row">
       <label asp-for="Player4.Name" style="font-size: 16px" class="col-form-label col-sm-2 m-2 badge badge-info">@Model.Player4.Name</label>
       <input asp-for="Player4.RoundScore" type="number" class="form-control col-sm-2 m-2" placeholder="Score"/>
       <input asp-for="Player4.ScoreSubtotal" type="number" class="form-control col-sm-2 m-2" placeholder="Subtotal" readonly/>
   </div>
   <div class="row">
       <div class="col-sm-1">
             <button class="btn btn-info" type="submit">Enter</button>
       </div>
   </div>
</form>